@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300&display=swap');

*,
*::after {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

body {
  
    
}
#global{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    height: 100%;
}

.display {
    width: 30rem;
    height: 5rem;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    margin-top: 180px;
    padding: 0px 30px 40px 30px;
    text-align: center;
    font-size: 24px;
    border: none;
    font-family: 'Jost', sans-serif;
    word-break: break-all;
    overflow-y: scroll;
    min-height: 50px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border: none;

}
#contagemReg{

    font-size: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 13, 13);

}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    width: 10px;
}

.container-key {
    display: grid;
    margin-top: 50px;
    margin-right: 60px;
    background-color: white;
    width: 65rem;
    height: 5rem;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 150px;
}

.container-key-down {
    display: grid;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 235px;
    background-color: white;
    width: 30rem;
    height: 2rem;
    grid-template-columns: auto;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
}
.pe {

    color: red;
}
#frase{
     text-align: center;
    position: absolute;
    top: 30px;
    width: 100%;
   max-height: 50px;
   overflow: hidden;
    background-color: rgb(214, 191, 191);
}
#jogar{
    margin-top: 180px;
    padding: 10px;
    height: 80px;
    border: none;
    cursor: pointer;
    border-radius: 30px 0px 0px 30px;
}
#containerTela {
    display: flex;
}
#botaoEnviar {
    margin-top: 180px;
    padding: 10px;
    height: 80px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}
#tela {
    outline: none;
}
.timer {
    position: absolute;
    height: 10px;
    top: 0px;
    background: red;
    animation: tempoCronometro 15s linear;
}

@keyframes tempoCronometro {

     from{

         width: 0%;
         
     }
     to{

        width: 100vw;
        
     }
}